<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">IT Student</span>
                <h1 class="mt-4">Jhoniel Gerilla</h1>
                <p class="p-des mt-3 mb-4">“The Web as I envisaged it, we have not seen it yet. The future is still so much bigger than the past.”</p>
            </div>
        </div>
    </div>
</section>